#wrapper{
  display:grid;
  height: 100vh;

  grid-template-columns: 15rem auto;
  grid-template-rows: 3rem auto;
  grid-template-areas:
    "header header"
    "side content"
  ;
}

header{
    background-color: #2076E1;
    grid-area: header;

    display:flex;
    align-items:center;
    justify-content:center;
}

nav{
    grid-area: side;
    padding: 0.5rem;
}

main{
    background-color: #5BBB5D;
    grid-area: content;
}