
.title{
    display:inline;
    color: #EEEEEE;
    font-family: 'Patua One', sans-serif;
    font-size: 2rem;
    /*font-weight: bold;*/
    margin-left: 1rem;
    text-shadow: 2px 2px 1px rgba(150, 150, 150, 1);
}

.user{
    display:inline;
    font-size: 2rem;
    color: #EEEEEE;
    margin-left: auto;
    margin-right: 0.8rem;
    text-shadow: 2px 2px 1px rgba(150, 150, 150, 1);
    cursor: pointer;
}

.menuitem{
    margin-bottom: 2rem;
    cursor: pointer;
}

.menuitem:last-child{
    margin-bottom: 0;
}

